{% extends 'BASE.html' %}
{% load static %}
{% block mytitle %}FPGA{% endblock %}
{% block middle %}
    <section class="p-xl-5 container-fluid">
        <h2 class="text-sm-start text-center">FPGA介绍</h2>
        <br/>
        <ul>
            <li><h4 class="text-sm-start text-center">FPGA简介</h4></li>
            <p class="bg-info">
                FPGA全称为field-programmable gate array，即现场可编程门阵列<br/>
                FPGA是作为专门集成电路（ASIC）领域中的一种半定制电路而出现的，既解决了定制电路的不足，
                又克服了原有可编程器件门电路数有限的缺点。<br/>
                简而言之，ＦＰＧＡ是一个可以通过编程来改变内部结构的芯片<br/>
            </p>
            <li><h4 class="text-sm-start text-center">FPGA和单片机的区别</h4></li>
            <br/>
            <p class="bg-info">
                对于单片机而言，FPGA是一种微处理器，类似于电脑的CPU，一般是基于哈佛总线结构或冯诺依曼结构。<br/>
                单片机用途广泛，多用于控制流水线上；<br/>
                FPGA的结构是查找表，它的结构比较复杂，相对于的它可以实现的功能也很强大，
                一般应用于通信接口设计、数字信号处理等比较高端的场合<br/>
                FPGA还有一个特殊的应用场合，即ＡＳＩＣ的原型验证。
            </p>
            <li><h4 class="text-sm-start text-center">FPGA的优势和缺点</h4></li>
            <ul>
                <li>优势</li>
                <p class="bg-info">相较于专职专用的ASIC,FPGA工具在开发难度上降低了许多，并且大大缩短了开发周期，
                    而且由于FPGA是可重复编程的，其研发成本与风险也要比ASIC减少许多，更适合于复杂多变的数据中心等应用</p>
                <li>缺点</li>
                <p class="bg-info">易于开发程度远远不如单片机、CPU；在数字芯片设计领域，FPGA虽然相比ASIC具有更短的开发周期与开发难度，
                但是其存在成本过高、性能较差并且在资源的利用率上远不及ASIC等问题，不能真正的替代ASIC。</p>
            </ul>
        </ul>
        <div class="bg-black" style="height: 1rem"></div>
        <h2>FPGA的基本结构</h2>
        <p class="bg-info">
            FPGA可编程的特性决定了其实现数字逻辑的结构不能像专用ASIC那样通过固定的逻辑门电路来完成，
            而只能采用一种可以重复配置的结构来完成，而查找表（LUT）可以很好的满足这一要求，
            目前主流的FPGA芯片仍是基于SRAM工艺的查找表结构。<br/>
            在任意一款FPGA芯片说明书中可以查看到该器件具体的参数指标，其中包含可编程逻辑模块的数量、
            固定功能逻辑模块（如乘法器）的数目存储器资源（嵌入式RAM）的大小。<br/>
            当然仅有上述结构是构不成FPGA的，但在比较FPGA时，上述结构是重要的参考指标。<br/>
            在最底层的可配置逻辑模块（如片上的逻辑单元）上，存在着基本的两种部件：触发器和查找表（LUT）,
            而触发器和查找表的组合方式不同，是各个FPGA家族之间区别的重要依据，并且查找表本身的结构也可能各不相同
            （有４输入或６输入或其他）
        </p>
        <ul>
            <li>查找表</li>
            <p class="bg-info">
                查找表（LOOK-UP-TABLE）简称为LUT，其本质上就是一个RAM，目前FPGA内部中多使用４输入的LUT,
                每一个LUT可以看成一个有４位地址线的RAM。当用户在EDA工具上通过原理图或硬件描述语言设计了一个逻辑电路以后，
                FPGA开发软件会自动计算逻辑电路的所有可能结果，并把真值表事先写入RAM中。
                这样，每输入一个信号进行了逻辑运算就等于输入一个地址进行查找表操作，通过地址找到对应的RAM中的结果，最后将其输出。<br/>
                一个多输入的查找表又可以分解成较小输入的查找表，即能够分裂成许多更小的功能。
                例如一个八输入的查找表可以分解成两个死输入的查找表或分解成一个三输入加一个五输入的查找表。<br/>
            </p>
            <li>软内核</li>
            <p class="bg-info">
                若利用FPGA的可编程在芯片内部构造实现了一个计数器逻辑，那么在构造计数器逻辑过程中使用的功能便可以被称为“软功能”，又称之为软内核。
            </p>
            <li>硬内核</li>
            <p class="bg-info">
                如果某个功能若是直接利用芯片实现的，则是利用了芯片内部的“硬功能”，一般又称之为硬内核。
            </p>
            <li>软硬内核的区别与联系</li>
            <ul>
                <li>联系</li>
                <p class="bg-info">
                    软内核与硬内核之间优势互补，软内核的优势在于可以用芯片资源的基础上利用编程设计让其完成需要实现的任何功能（注意是数字功能，不包括模拟功能），
                    而硬内核由于是实现固定功能的器件，因此其优势在于资源利用率高且功耗较低，占用硅片的面积也较小，并具有较高的性能。
                </p>
                <li>区别</li>
                <p class="bg-info">
                    两者的区别：与软内核相比硬内核可用于实现模拟功能，例如锁相环的倍频功能，这个功能需要在模拟电路下实现，所以这一部分是在FPGA内部用硬件来实现的。
                </p>
            </ul>
            <li>带嵌入式处理器的FPGA</li>
            <p class="bg-info">
                利用FPGA的可编程构造实现的事情之一就是使用其中的一部分数字逻辑资源制作一个或多个软处理器内核，当然，也可以实现不同规模的处理器。<br/>
                如果FPGA供应商希望提供一个占用较少硅片面积、消耗较低功率但性能更高的处理器，解决方案是将其实现为硬内核。如果需要高速、高性能的处理器，
                并且需要实现逻辑编程时，传统的方法是在电路板上放置处理器（如ARM、DSP等）和FPGA、ARM或者DSP工程师实现软件部分，FPGA工程师是西可编程逻辑部分，
                两者协同合作。<br/>
                现在最新的方案是使用ZYNQ一个芯片以更低的功耗、更高的速度实现以上功能。<br/>
            </p>
        </ul>
        <div class="bg-black" style="height: 1rem"></div>
        <h2>数据存储以及配置方式</h2>
        <p class="bg-info">
            在FPGA内部存在着存储单元内RAM块，数据是存放在RAM中并且由其来设置工作状态的，若想要FPGA进行工作，就需要对片内RAM进行编程。
            而如果外部有大量数据交互时，就要通过增加外设来对数据进行暂时性的存储，如<b>SDRAM存储器</b>或者<b>DDR3存储器</b>，
            暂存在外设中的数据最终也是要通过FPGA内部的RAM进行存储与处理。<br/>
            当在EDA工具上将程序设计完成之后，便需要将软件上的程序烧录进FPGA内部。
        </p>
        <ul class="bg-info">
            通过不同的匹配模式，FPGA便会有不同的编程方式。
            <li>1.并行模式：通过并行PROM、Flash配置FPGA</li>
            <li>2.主从模式：使用一片PROM配置多片FPGA</li>
            <li>3.串行模式：串行PROM配置多片FPGA</li>
            <li>4.外设模式：将FPGA作为微处理器的外设，由微处理器对其编程</li>
        </ul>
        <p class="bg-info">
            目前，主流的FPGA都是基于SRAM工艺的，在大部分的FPGA开发板上，使用的都是串行配置模式。由于SRAM掉电就会丢失内部数据，
            因此往往都会外接一个能够掉电保存数据的片外存储器以保存程序。这样一来，上电时FPGA便将外部存储器中的数据读入片内RAM以完成配置，
            对FPGA编程完成后便进入工作状态；掉电后FPGA内部SRAM中存储的数据丢失，逻辑清零。以这种方式配置FPGA不仅能反复使用，
            还无需重复手动配置。完成一次主动配置之后每次上电便会自动的实现FPGA的内部编程。
        </p>
        <div class="bg-black" style="height: 1rem"></div>
        <h2>补充</h2>
        <li>不同的工程师的工作</li>
        <p class="bg-info">
            FPGA工程师负责搭建周边电路，如ARM的接口、时钟配置等，还负责可编程逻辑部分的开发。软件部分仍然还是软件工程负责。
            其主要原因在于FPGA逻辑开发和软件开发都是专业性比较强的技能，非常少的工程师能同事掌握这两个技能。
        </p>
    </section>
{% endblock %}