{% extends 'BASE.html' %}
{% load static %}
{% block mytitle %}硬件描述语言VERILOG{% endblock %}
{% block middle %}
    <section class="container-fluid p-xl-5">
        <h2>传统的原理图设计方法</h2>
        <br/>
        <p class="bg-info">
            原理图设计法存在着许多弊端，如当设计者想要实现线路图的逻辑优化时，就需要利用EDA工具或者人工进行布尔函数逻辑优化。<br/>
            除此之外，传统原理图设计还存在难以验证的缺点，设计工程师想要验证设计，必须通过搭建硬件平台（比如电路板），为设计验证工作带来了麻烦。
        </p>
        <h2>两种硬件描述语言</h2>
        <ul>
            <li>VHDL</li>
            <ul class="bg-info">
                <li>在欧洲或高校研究所里使用较多</li>
                <li>语法较简单，规则不多，很少书写要求，易学易用</li>
            </ul>
            <li><b>Verilog HDL</b></li>
            <ul class="bg-info">
                <li>在美国或中国企业使用较多</li>
                <li>严谨、规则多、语法要求高，较难学习</li>
            </ul>
        </ul>
        <h2>Verilog HDL</h2>
        <ul>
            <li>优势</li>
            <ul class="bg-info">
                <li>提供了编程语言接口，通过该接口可以在模拟、验证期间从设计外部访问设计，包括模拟的具体控制和运行。</li>
                <li>Verilog HDL语言不仅定义了语法，而且对每个语法结构都定义了清晰的模拟、仿真语义。因此，用这种语言编写的模型能够使用VERILOG</li>
                <li>提供了扩展的建模能力，其中许多扩展最初很难理解，但是Verilog语言的核心子集非常易于学习和使用，这对大多数建模应用来说已经足够。</li>
                <li>完整的硬件描述语言足以从最复杂的芯片到完整的电子系统进行描述。</li>
            </ul>
        </ul>
    </section>
{% endblock %}