{% extends 'BASE.html' %}
{% load static %}
{% block mytitle %}阻塞赋值和非阻塞赋值{% endblock %}
{% block middle %}
    <section class="container-fluid p-xl-5">
        <h2>阻塞赋值和非阻塞赋值</h2>
        <p class="bg-info">
            在always语句块中，Verilog语言支持两种类型的赋值：阻塞赋值和非阻塞赋值。阻塞赋值使用"="语句；非阻塞赋值使用"<="语句。<br/>
            阻塞赋值：在一个"begin...end"的多行赋值语句，先执行当前行的赋值语句，再执行下一行的赋值语句。<br/>
            非阻塞赋值：在一个"begin...end"的多行赋值语句，在同一时间内同时赋值。
        </p>
        <code>
            begin<br/>
            &nbsp;&nbsp;c = a;<br/>
            &nbsp;&nbsp;d = c + a;<br/>
            end<br/>
            <br/>
            begin<br/>
            &nbsp;&nbsp;c <= a;<br/>
            &nbsp;&nbsp;d <= c + a;<br/>
            end
        </code>
        <p class="bg-info">
            上面两个例子中，１到４行部分是阻塞赋值，程序会先执行第２行，得到的结果后再执行第３行。<br/>
            ６到９行这一段是非阻塞赋值，第７行和第８行的赋值语句是同时执行的。<br/>
            假设当前c的值为0，d的值为0，a的新值为1。<br/>
            阻塞赋值的执行过程和结果为：程序先执行第２行，此时c的值将更新为１，然后再执行第３行，此时c＋a也就是１＋１＝２，即d的值为２。<br/>
            非阻塞赋值的执行过程和结果为：程序同时执行第7行和第8行。需要注意的是，在执行第8行时，第7行还未被执行，这也就意味着c的值还没发生变化，
            此时c仍为0。同时执行的结果为：c的值为１，d的值为１。<br/>
            根据规范要求，组合逻辑中应使用阻塞赋值"="，时序逻辑中应使用非阻塞赋值"<="。<br/>
            只有一行代码时两种方式不影响。
        </p>
    </section>
{% endblock %}