<!DOCTYPE html>
{% load static %}
{% csrf_token %}
<html lang="zh-CN">
    <head>
        <title>{% block mytitle %}Bootstrap 实例{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={% static 'bootstrap-5.1.3-dist/css/bootstrap.css' %} rel="stylesheet">
        <script src={% static 'bootstrap-5.1.3-dist/js/bootstrap.js' %}></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href='/'>Logo</a>
                <!--当尺寸小于ｌｇ时，显示按钮-->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">编程技术</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href='/mydjango/'>python</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">html5</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">android</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myML/sklearn/">人工智能</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/microelect/">柔性电子</a>
                        </li>
                        {% block navitem %}{% endblock %}
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        {% block middle %}{% endblock %}

        <footer style="padding: 0; margin: 0;" class="p-2 bg-dark text-center text-white">
            <div class="container-fluid">
                <p class="lead">快乐学习</p>
            </div>
        </footer>
    </body>
</html>
